* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.viewPage {
  width: 300px;
  border: 1px solid #333;
  text-align: center;
}

.heading {
  background-color: #333;
  color: white;
}
